PORT=8000
OPEN_DOTA_API_URL=https://api.opendota.com/api
# Comma-separated list of allowed origins
DOTA_SITE=http://localhost:8080,https://dota2-companion.vercel.app,https://dota2-companion.johnmichealacera.com
